<div data-ng-app="filmApp" class="container" data-ng-controller="AuthController as auth">
    <div class="col-xs-12 navbar-padding">
        <a href="/">
            <div class="navbar-brand" id="brand">Ticket Selling System</div>
        </a>
        <div class="login-padding col-xs-3" data-ng-if="auth.isAuthorized(auth.roles.Admin)">
            <div class="dropdown">
                <a href="" class="dropdown-toggle btn btn-primary" data-toggle="dropdown">
                    Administration
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a data-ng-href="/Admin/Users">Users</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a data-ng-href="/Admin/Cinemas">Cinemas</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="pull-right login-padding col-xs-5" data-ng-if="auth.isAuthorized(auth.roles.User)">
            <div class="pull-right">
                <div data-ng-if="auth.currentUser">
                    Welcome, {{ auth.currentUser.Name }}!
                    <a data-ng-href="/" data-ng-click="auth.logOff()">Sign Out</a>
                </div>

            </div>
        </div>
        <div class="pull-right  login-padding col-xs-3" data-ng-show="!auth.isAuthorized(auth.roles.User)">
            <div class="pull-right">
                <div>
                    <a data-ng-href="/Register">Sign Up </a>|
                    <a data-ng-href="/Login">Sign In</a>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="space col-lg-12">
        <div class="navigation">
            <a href="/">
                <div class="block-header col-sm-1 nav-btn text-center text-color">
                    Films
                </div>
            </a>
            <a href="/">
                <div class="block-header col-sm-1 nav-btn text-center text-color">
                    Cinemas
                </div>
            </a>
            <a href="/">
                <div class="block-header col-sm-1 nav-btn text-center text-color">
                    Buy ticket
                </div>
            </a>
            <form id="search-div" class="block-header col-sm-1 text-center text-color">
                <div class="form-inline">
                    <input type="search" class="form-control" id="search" placeholder="Search">
                    <input type="button" class="btn btn-default main-btn" value="Search">
                </div>
            </form>
        </div>
    </div>
    <div class="clearfix"></div>
    <div data-ng-view="" class="body-content">
    </div>
</div>